<!doctype html>
<html lang="pt" ng-app="ClienteApp">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Marcelo Michels</title>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="ClienteController" data-ng-init="init()">

        <div class="container"> 
			<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastro
				</div>
				<div class="panel-body">
		            <form role="form">
			            <div class="row">
	  						<div class="col-sm-6">
				                <div class="form-group">
				                    <label>Nome</label>
				                    <input type="text" class="form-control" ng-model="cliente.nome">
				                </div>
	  						</div>
							<div class="col-sm-6">
				                <div class="form-group">
				                    <label>CPF</label>
				                    <input type="text" class="form-control" ng-model="cliente.cpf">
				                </div>
							</div>
						</div>
			            <div class="row">
	  						<div class="col-sm-6">
				                <div class="form-group">
				                    <label>Sexo</label>
				                    <select class="form-control" ng-model="cliente.sexo">
		    							<option>Masculino</option>
		    							<option>Feminino</option>
		  							</select>
				                </div>
	  						</div>
							<div class="col-sm-6">
				                <div class="form-group">
				                    <label>Telefone</label>
				                    <input type="text" class="form-control" ng-model="cliente.telefone">
				                </div>
							</div>
						</div>
			            <div class="row">
	  						<div class="col-sm-6">
				                <div class="form-group">
				                    <label>Idade</label>
				                    <input type="text" class="form-control" ng-model="cliente.idade">
				                </div>
	  						</div>
							<div class="col-sm-6">
				                <div class="form-group">
				                    <label>Endereço</label>
				                    <input type="text" class="form-control" ng-model="cliente.endereco">
				                </div>
							</div>
						</div>					
		                <button class="btn btn-success" ng-click="salvar()">
		                    <span class="glyphicon glyphicon-user"></span> Salvar
		                </button>
		            </form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Pesquisa
				</div>
				<div class="panel-body">
		            <table class="table table-bordered">
		                <thead>
		                    <tr>
		                        <th>ID</th>
		                        <th>Nome</th>
		                        <th>CPF</th>
		                        <th>Sexo</th>
		                        <th>Telefone</th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="cliente in clientes">
		                        <td>{{ cliente._id }}</td>
		                        <td>{{ cliente.nome }}</td>
		                        <td>{{ cliente.cpf }}</td>
		                        <td>{{ cliente.sexo }}</td>
		                        <td>{{ cliente.telefone }}</td>
		                        <td align="center">
		                            <button type="button" class="btn btn-primary" ng-click="editar(cliente)">Editar</button>
		                            <button type="button" class="btn btn-danger" ng-click="deletar(cliente)">Deletar</button>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
				</div>
			</div>
        </div>
    </body>
</html>